.quote-wrapper {
  width: 75vw;
  min-width: 300px;
/*   min-height: 300px; */
  padding: 40px;
  
  border: 12px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  width: 100%;
/*   min-width: 300px;
  min-height: 220px;
  max-width: 520px; */
  padding: 30px;
  
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #00C853, #B2FF59);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#author {
  text-align: right;
  font-size: 1rem;
  margin: 15px 10px 10px;
}

#author::before {
  content: '\2014\0020'
}

#text {
  font-size: 1.7rem;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  
  margin-top: 30px;
}

a {
  text-decoration: none
}

#icon {
  background-color: #00C853;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
/*   transition: transform 1s, box-shadow 0.5s;
  box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%); */
}

#icon:hover {
  transform: translateY(-3px);
/*   box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%); */
}

.fa-twitter {
  color: #000;
}

#icon:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
}

button {
    padding: 8px 12px;
    background-color: #00C853;
    color: #000;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #00C853;
    font-weight: 600;
    height: 40px;
  }
  
  button:hover {
    cursor: pointer;
    opacity: 0.9;
  }

@media screen and (max-width: 767px) {
  .quote-wrapper {
    min-width: 300px;
/*     max-width: 300px;
    min-height: 260px; */
    height: auto;
    border-width: 8px;
  } 
  
  #quote-box {
    min-width: 220px;
/*     max-height: 340px; */
    height: auto;
    padding: 20px;
  }
  
  #text {
    font-size: 1rem;
  }
  
  #author {
    font-size: 0.8rem;
  }
  
  button {
    padding: 8px 12px;
    font-size: 12px;
    height: 30px;
  }
  
  #icon {
    width: 30px;
    height: 30px;
    font-size: 12px;
  } 
}